{% extends '::base.html.twig' %}

{% block body %}
    <div class="form-signin">
        <a class="btn btn-lg btn-warning btn-block" href="{{ path('app_attendance_doAttendanceIn') }}">In</a>
        <a class="btn btn-lg btn-success btn-block" href="{{ path('app_attendance_doAttendanceOut') }}">Out</a>
        <a class="btn btn-lg btn-danger btn-block" href="{{ path('app_attendance_doNonAttendance') }}">Non Attendance</a>
    </div>

{% endblock %}
