{% extends '::base.html.twig' %}

{% block body %}
    <div class="form-signin">
        <div class="form-group">{{ form_widget(form.commentByUser, { 'attr': {'class': 'form-control', 'placeholder':'Comentari opcional', 'style': 'width:100%; resize:none;', 'rows': '3', 'draggable': 'false'} }) }}</div>
        <a class="btn btn-lg btn-warning btn-block" href="{{ path('app_attendance_doCheckIn') }}">Entrada</a>
        <a class="btn btn-lg btn-success btn-block" href="{{ path('app_attendance_doCheckOut') }}">Sortida</a>
        <a class="btn btn-lg btn-danger btn-block" href="{{ path('app_attendance_absence') }}">Absència</a>
    </div>

{% endblock %}
