{% extends '::base.html.twig' %}

{% block body %}
    <form class="form-signin" action="{{ path('app_attendance_doAttendance') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-success btn-block" type="submit">Attendance</button>
    </form>
{% endblock %}
