security:
    encoders:
        AppBundle\Entity\User: bcrypt

    role_hierarchy:
        ROLE_ADMIN: [ROLE_USER]

    providers:
        db_users:
            entity: { class: AppBundle:User, property: username }

    firewalls:
        main:
            pattern:   ^/
            anonymous: ~
            form_login:
                login_path: app_security_login
                check_path: app_security_check
                csrf_parameter: _csrf_token
            logout:
                path: app_security_logout
                target: /

    access_control:
#        - { path: ^/admin, roles: ROLE_ADMIN  }
